body {
    margin: 0;
    padding: 0;
    color: #000000;
}

a {
    color: #3399cc;
}

#header {
    background-color: #dddddd;
    padding: 20px;
    border-bottom: 3px solid #ccc;
}

#header h1 {
    margin: 0;
}

#header h1 a:hover {
    background-color: #bbb;
}

#nav {
    margin: 0 30px;
}

#main {
    margin: 0 30px;
}

.status {
    padding: 10px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 10px;
}

ul.error_list {
    border: 1px solid #ff0000;
    background-color: #ffcccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.error_list li {
    color: #ff0000;
}